<style>

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Welcome</span>
    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none"/>
        <path d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23" fill="#fff"/>
      </svg>
    </a>
</div>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" style="background:#1e2640; width: 222px;" opened>
    <div style="padding: 24px; height: 95vh;">
      <div>
        <p style="text-align: center;">
          <img src="assets/images/group-17.svg" style=" width: 130px;height: 36px;"/>
        </p>
        <div style="margin-top: 48px;">
          <div *ngFor="let menu of sideMenuList" class="menu-item">
            <img src="{{menu.icon}}" class="icon"/>
            <span class="text">{{menu.name}}</span>
            <img *ngIf="menu.hasSubMenu" class="submenu-icon" src="assets/images/arrow.svg"/>
          </div>
        </div>
      </div>
      <div style="height: 40vh;"></div>
      <div class="wallet-div">
        <div style="align-self: center; width: -webkit-fill-available;">
          <p style="font-size: 12px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal;  text-align: left; color: #cccccc;">Wallet Balance</p>
          <p style="font-size: 18px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.44; letter-spacing: normal; text-align: left; color: #ffffff;">$123,456,789</p>
        </div>
        <div style="align-self: center;transform: rotate(-90deg);">
          <img src="assets/images/arrow.svg" class="icon"/>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <p>
      <mat-toolbar color="primary" style="min-height: 80px !important; height: 80px !important;background: white;color: black;">
        <span style="font-size: 20px;font-weight: 500;font-stretch: normal;font-style: normal;line-height: 1.4;letter-spacing: normal;color: #1a181e;margin-left: 32px;">Dashboard</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" style="border-radius: 50%;background: #e6e6e6;margin: 8px;">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="border-radius: 50%;background: #e6e6e6;margin: 8px;">
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" style="border-radius: 50%;background: #e6e6e6;margin: 8px;">
          <mat-icon>face</mat-icon>
        </button>
      </mat-toolbar>
    </p>
    <div style="margin: 32px;">
      <div class="card" style="height: 70px;padding: 24px 24px 0px 24px;">
        <div style="display: inline-block;width: 70%;">
          <input placeholder="Domain/URL or Keyword" value="" style="width: 100%;
          border: none;
          border-bottom: 1px solid #d9d9d9;
          padding: 10px;">
        </div>
        <select name="food" style="border: none;
        border-bottom: 1px solid #d9d9d9;
        padding: 10px;
        margin-left: 30px;
        width: 18%;">
          <option value="United States">
            United States
          </option>
        </select>
        <span class="example-button-container">
          <button color="primary" class="search-button"><mat-icon style="color: white;vertical-align: bottom;">search</mat-icon>
          </button>
        </span>
      </div>
      <div>
        <div style="height: 80px; display: flex;padding: 12px 0px 0px 0px;">
          <div style="display: inline-block;align-self: center;">
            <input placeholder="Search Projects" style="
            border: none;
            border-bottom: 1px solid #d9d9d9;
            padding: 10px;">
          </div>

          <span class="example-spacer"></span>
          <span style="align-self: center;">
            <button mat-flat-button style="margin: 0px 24px;width: 141px;
            height: 40px;
            border-radius: 4px;
            border: solid 1px #e6e6e6;
            background-color: #ffffff;">
              <mat-icon>refresh</mat-icon>
              Refresh All
            </button>
            <button mat-flat-button color="primary" style="height: 40px;width:153px;font-size: 16px;
            background-color: #7442d3;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: #ffffff;"> + New Project</button>
          </span>
        </div>
      </div>
      <div class="card" style="height: 145px;padding: 20px 24px 0px 24px; margin: 0px 0px 16px 0px;">
        <div style="height: 32px; display: flex;">
          <span style="font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #1a181e;">Samsara 1.0</span>
          <span style="margin-left: 10px;font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.57; letter-spacing: normal; color: #808080;">samara.com</span>
          <span class="example-spacer"></span>
          <span>
            <span style="font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: right; color: #808080;">Last Updated:</span>
            <span style="font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
            color: #4d4d4d;
            margin-left: 5px;"
            >1 hour ago</span>
          </span>
          <span class="material-icons" style="font-size: 22px;
          color: #989898;">
            more_vert
            </span>
        </div>
        <hr style="border-top: 0.5px solid #e8e8e8;">
        <div>
          <mat-grid-list cols="6" rowHeight="78px">
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Average Position <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">22.9</span>
                  <span class="change">+0.3</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Keywords <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">270</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">SERP <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">5</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Positions <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value" >
                    <span class="material-icons" style="color: rgb(72, 243, 72);vertical-align: middle;">
                    north
                    </span>62</span>
                  <span class="value">
                    <span class="material-icons" style="color: red;vertical-align: middle;">
                    south
                    </span>12</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#1-10</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">0</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#11-30</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #17b31b;">+1</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#31-100</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">5</label>
                  <label style="width: 20px;text-align: center;color: #e50b20;">-1</label>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Location <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper" style="margin-top: 10px;">
                  <span class="state" >
                    <span class="material-icons" style="color: rgb(8, 8, 8);vertical-align: middle;">
                    flag
                    </span> United States</span>
                </p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div class="card" style="height: 145px;padding: 20px 24px 0px 24px; margin: 16px 0px;">
        <div style="height: 32px; display: flex;">
          <span style="font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #1a181e;">Samsara 1.0</span>
          <span style="margin-left: 10px;font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.57; letter-spacing: normal; color: #808080;">samara.com</span>
          <span class="example-spacer"></span>
          <span>
            <span style="font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: right; color: #808080;">Last Updated:</span>
            <span style="font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
            color: #4d4d4d;
            margin-left: 5px;"
            >1 hour ago</span>
          </span>
          <span class="material-icons" style="font-size: 22px;
          color: #989898;">
            more_vert
            </span>
        </div>
        <hr style="border-top: 0.5px solid #e8e8e8;">
        <div>
          <mat-grid-list cols="6" rowHeight="78px">
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Average Position <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">22.9</span>
                  <span class="change">+0.3</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Keywords <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">270</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">SERP <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">5</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Positions <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value" >
                    <span class="material-icons" style="color: rgb(72, 243, 72);vertical-align: middle;">
                    north
                    </span>62</span>
                  <span class="value">
                    <span class="material-icons" style="color: red;vertical-align: middle;">
                    south
                    </span>12</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#1-10</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">0</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#11-30</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #17b31b;">+1</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#31-100</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">5</label>
                  <label style="width: 20px;text-align: center;color: #e50b20;">-1</label>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Location <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper" style="margin-top: 10px;">
                  <span class="state" >
                    <span class="material-icons" style="color: rgb(8, 8, 8);vertical-align: middle;">
                    flag
                    </span> United States</span>
                </p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
      <div class="card" style="height: 145px;padding: 20px 24px 0px 24px; margin: 16px 0px;">
        <div style="height: 32px; display: flex;">
          <span style="font-size: 16px; font-weight: 500; font-stretch: normal; font-style: normal; line-height: 1.5; letter-spacing: normal; color: #1a181e;">Samsara 1.0</span>
          <span style="margin-left: 10px;font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.57; letter-spacing: normal; color: #808080;">samara.com</span>
          <span class="example-spacer"></span>
          <span>
            <span style="font-size: 14px; font-weight: normal; font-stretch: normal; font-style: normal; line-height: normal; letter-spacing: normal; text-align: right; color: #808080;">Last Updated:</span>
            <span style="font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            text-align: right;
            color: #4d4d4d;
            margin-left: 5px;"
            >1 hour ago</span>
          </span>
          <span class="material-icons" style="font-size: 22px;
          color: #989898;">
            more_vert
            </span>
        </div>
        <hr style="border-top: 0.5px solid #e8e8e8;">
        <div>
          <mat-grid-list cols="6" rowHeight="78px">
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Average Position <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">22.9</span>
                  <span class="change">+0.3</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">Keywords <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">270</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label">SERP <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value">5</span>
                  <span class="change"></span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Positions <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper">
                  <span class="value" >
                    <span class="material-icons" style="color: rgb(72, 243, 72);vertical-align: middle;">
                    north
                    </span>62</span>
                  <span class="value">
                    <span class="material-icons" style="color: red;vertical-align: middle;">
                    south
                    </span>12</span>
                </p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#1-10</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">0</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#11-30</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">11</label>
                  <label style="width: 20px;text-align: center;color: #17b31b;">+1</label>
                </div>
                <div class="rank-tile">
                  <label style="width: 50px; display: inline-block; color: #989898;">#31-100</label>
                  <label style="width: 20px;text-align: center;color: #1a181e;">5</label>
                  <label style="width: 20px;text-align: center;color: #e50b20;">-1</label>
                </div>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <div class="project-info-tile">
                <p class="label"> Location <span class="material-icons icon">help_outline</span></p>
                <p class="wrapper" style="margin-top: 10px;">
                  <span class="state" >
                    <span class="material-icons" style="color: rgb(8, 8, 8);vertical-align: middle;">
                    flag
                    </span> United States</span>
                </p>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>